.dashBoard {
  margin-bottom: 20px;
}

.firstCon {
  display: flex;
  justify-content: space-between;
}

.upCon {
  width: 100%;
  background: #fff;
  border-radius: 5px;
  flex: 1;
  box-shadow: 0px 0px 6px 6px #EBECEE;
  padding: 15px 30px;
  a {
    text-decoration: none;
    width: 18vw;
    font-size: 1.2rem;
    margin: 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #CDF6E5;
    color: #777;
    padding: 20px 0;
    border-radius: 5px;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 0px 0px 3px 3px #EBECEE;
    transition: 0.5s ease;
    /* flex: 1; */
  &:hover {
    font-size: 1.5rem;
    background: #fff;
    color: #999;
    /* box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2); */
  }
  
  }
  span {
    font-size: 2rem;
  }
}

.upConFirstCon{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
}
.upConFirstConadmin{
  @extend .upConFirstCon;
  flex-wrap: wrap;
}


.adminUpCon {
  width: 40vw;
}




.divInA{
  display: flex;
  flex-direction: column;
  align-items: center;
}




.upConHeading {
  margin-bottom: 0;
  width: 100%;
  text-align: center;
}

.filterSelect {
  margin: 40px 4.5% 0 15px;
  text-align: right;
  font-size: 1.1rem;
  select {
    padding: 5px 10px;
    border-radius: 5px;
    background: #CDF6E5;
    color: #555;
    cursor: pointer;
  }
  
}
.filterSelectCharts {  
  font-size: 1.1rem;
  margin-right:90%;
  select {
    padding: 5px 20px;
    border-radius: 5px;
    background: #CDF6E5;
    color: #555;
    cursor: pointer;
  }
  
}

.agentSelect select {
  margin: 20px 0 0;
}

.chartsCon {
  display: flex;
  flex-direction: row;
  margin-top: 2%;

.bar_lineCharts{
  display: flex;
  flex-direction: column;
}
.bar_lineChartsAdmin{
  display: flex;
  flex-direction: row;
}
.barChart, .doughnutChart, .managerLineChart {
  display: flex;
  align-items: center;
  width: 30vw;
  height: 46vh;
  background: #fff;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 6px #EFF0F2;
}
.barChart {
  margin-left: 1%;
  margin-right: .1%;
  height: auto;
  margin-bottom: 3.8%
}

.managerLineChart{
  flex-direction: column;
  height: 90%;
  margin-bottom: 30px;
  width: 52vw;
}

.doughnutChart {
  margin-left: 1%;
  height: auto;
  margin-bottom: 3.8%;
  /* filter: drop-shadow(30px 10px 4px #4444dd); */
}
}
// .managerLineChart {
  
// }
