.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 30px;
}

.Selected-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 20vw;
    height: 60vh;
    border-style: solid;
    margin-bottom: 10vh;
    overflow-y: scroll;
}
.selected-flow-area{
    display: flex;
   justify-content:space-between ;
}