.Card-container {
  width: 15vw;
  /* margin: 0 20px; */
  position: relative;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  height: 50vh;
}


.Card-container .card {
  background: inherit;
  position: relative;
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.Card-container .card .face {
  transition: 0.5s;
}

.Card-container .card .face.face1 {
  width: 100%;
  height: 200px;
  position: relative;
  background: #CDF6E5;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  top: 0;
  /* transform: translateY(100px); */
}

.Card-container .card:hover .face.face1 {
  background: #97A4FC;
  height: 50px;
  color: #fff;
}

.Card-container .card:hover .face.face1 .content h3{
  color: #fff;
}

.Card-container .card .face.face1 .content {
  transition: 0.5s;
  color: #fff;
}

.Card-container .card:hover .face.face1 .content {
  opacity: 1;
}

.Card-container .card .face.face1 .content h3 {
  position: relative;
  z-index: 10;
  padding: 0;
  color: #888;
  text-align: center;
  font-size: 1.2em;
  font-weight: bolder;
}

.Card-container .card .face.face2 {
  width: 100%;
  height: 150px;
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  top: 0;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px 5px #EBECEE;
  transform: translateY(-150px);
}

.Card-container .card:hover .face.face2 {
  transform: translateY(0);
}

.Card-container .card .face.face2 .content p {
  color: black;
  margin: 0;
  padding: 0;
}

.Card-container .card .face.face2 .content button {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  border: 0;
  padding: 5px 10px;
  background: inherit;
  background: #97A4FC;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease;
}

.Card-container .card .face.face2 .content button:hover{
    box-shadow: 1px 1px 3px 3px #EBECEE;
}

.card {
  border: none;
}

.Card-container .card .face.face2 .content button:hover {
  background: #97A4FC;
  color: #fff;
}
