@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
@import "./saas/variables.scss";
@import "./saas/functions.scss";

body {
  color: $prim5;
  font-family: "Source Sans Pro", sans-serif;
  background: $prim2;
}

.Chats {
  width: 100%;
  height: 90vh;
  @include FlexContent(space-between);
}

.rootCon {
  display: flex;
}

.dataCon {
  padding: 3vh 25px;
  width: 82vw;
}

.topCon {
  @include FlexContent(space-between);

  width: 100%;
  margin-bottom: 7vh;
}

.pageHead {
  font-size: 1.5rem;
  font-weight: 700;
}

.activeChatsCon {
  width: 100%;
  @include FlexContent(space-between);
  h3 {
    text-align: center;
    min-width: 30vw;
    color: #555;
    padding: 8px 0;
    font-size: 1.6rem;
    border-radius: 8px 8px 0 0;
    background: $prim7;
    margin-bottom: 0;
  }
}

.chatList {
  /* border-bottom: 1px solid $prim1;
  border-left: 1px solid 1;
  border-right: 1px solid $prim1; */
  margin-top: 5px;
  border-radius: 0 0 8px 8px;
  padding: 10px 20px;
  background: $white;
  box-shadow: 0px 3px 8px 5px $prim3;
  div {
    @include FlexContent(space-between);
    align-items: center;
    margin-top: 20px;
  }
}

.joinbtn {
  background: $prim7;
  color: $prim1;
  border: 0;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.5s ease;
  &:hover {
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: $prim1;
    font-weight: bolder;
  }
}

.userCon {
  @include Flexdir(column);
}

.userCard {
  min-width: 25vw;
  padding: 10px 20px;
  @include FlexContent(space-between);
  align-items: center;
  margin: 0 0 10px;
  min-height: 9vh;
  background: $white;
  /* border-radius: 10px; */
  box-shadow: 3px 3px 8px 5px $prim3;
  p {
    margin-bottom: 0;
  }
  h3 {
    width: 40vw;
    font-weight: bold;
  }
}

.rmBtn {
  width: 10%;
  background: $prim4;
  color: $white;
  font-weight: bolder;
  border: 0;
  border-radius: 5px;
  padding: 3px;
  cursor: pointer;
  transition-duration: 0.8s;
  &:hover {
    background: $white;
    border: 1px solid $prim4;
    color: $prim4;
  }
}

.disBtn {
  width: auto;
  padding: 3px 6px;
}

.assignBtn {
  background: $prim7;
  color: #666;

  &:hover {
    background: $white;
    border: 2px solid $prim7;
    color: #999;
  }
}

.regForm {
  width: 33vw;
  margin: auto;
  color: $prim6;
  background: $white;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 3px 3px 8px 5px $prim3;
}

.roleSelect {
  margin-left: 15px;
  margin-top: 10px;
  text-align: center;
  padding: 3px 0;
  width: 89%;
}

.subBtn {
  margin-top: 30px;
  min-width: 100%;
  font-weight: bolder;
}

.assignCard {
  height: 10vh;
}

.roomTitle {
  font-size: 1.8rem;
  font-weight: bolder;
  color: #555;
}
.agentSelect {
  padding: 5px 10px;
  border-radius: 5px;
}

.chatsListCon {
  height: 100%;
  width: 26%;
  background: $white;
  box-shadow: 0px 2px 8px 5px #eff0f2;
  overflow-y: scroll;
}

.chatsList {
  width: 100%;
  height: 9vh;
  padding: 0 20px;
  display: flex;
  align-items: center;
  font-weight: bolder;
  cursor: pointer;
  border-bottom: 2px solid $prim2;
}

.chatsCon {
  height: 100%;
  width: 71%;
  background: $white;
  display: flex;
  box-shadow: 0px 2px 8px 5px $prim2;
}

.chatCon {
  width: 100%;
}

.chatTopCon {
  width: 100%;
  height: 8%;
  border-bottom: 3px solid $prim2;
  margin-bottom: 20px;
  @include FlexContent(space-between);
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 6px 4px #eff0f2;
  span {
    font-size: 1.8rem;
  }
}

.selTempCon {
  display: flex;
  align-items: center;
  label {
    margin: 0;
    font-size: 1.7rem;
  }
  select {
    margin-left: 15px;
    padding: 3px 5px;
    border-radius: 5px;
  }
}

.selectedTempCon {
  margin: 8vh 0 14vh;
  @include FlexContent(space-between);
  /* align-items: center; */
  min-height: 20vh;
  padding: 20px 30px;
  border-radius: 10px;
  background: $white;
  box-shadow: 4px 4px 6px 6px $prim3;

  .val {
    margin-left: 10vw;
    textarea {
      background: $prim7;
      width: 30vw;
      height: 100%;
      padding: 10px 15px;
      border-radius: 10px;
      box-shadow: 3px 3px 6px 6px $prim3;
    }
  }
  .det {
    @include Flex(column, space-between);
    min-width: 25vw;
  }
}

.tempName {
  font-weight: bolder;
  font-size: 1.3rem;
}

.InpNoCon {
  @include FlexContent(space-between);
}

.optinNoCon {
  min-width: 30vw;
  /* margin-right: 10vw; */
}

.searchCon {
  @include FlexContent(space-between);
  margin: 20px 0 10px;
  input {
    width: 45%;
  }
}

.numbersList {
  height: 70vh;
  overflow-y: scroll;
  background: $white;
  border-radius: 10px;
  box-shadow: 3px 3px 8px 5px $prim3;
  div {
    @include FlexContent(space-between);
    padding: 20px 30px;
  }
}
.selectedNumbersList {
  margin-top: 5vh;
  width: 100%;
  background: $white;
  padding: 5px 7px;
  border-radius: 5px;
  div {
    @include FlexContent(space-between);
    padding: 20px 30px;
  }
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  &::after {
    content: "";
    position: absolute;
    display: none;
  }
}

/* When the checkbox is checked, add a CDF6E5 background */
.checkboxCon {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  input:checked ~ .checkmark {
    background-color: $prim7;
  }
  input:checked ~ .checkmark:after {
    display: block;
  }
  .checkmark {
    &::after {
      left: 10px;
      top: 7px;
      width: 5px;
      height: 10px;
      border: solid rgb(255, 0, 0);
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

/* Create the checkmark/indicator (hidden when not checked) */

/* Show the checkmark when checked */
/* Style the checkmark/indicator */

.newNoCon {
  width: 20vw;
  textarea {
    width: 100%;
    height: 50%;
    padding: 10px 15px;
    border-radius: 10px;
    margin-top: 5px;
    box-shadow: 3px 3px 8px 5px $prim3;
  }
  span {
    color: #999;
    opacity: 0.8;
    margin-top: 20px;
  }
}

.selectedNoCon {
  width: 35vh;
}

.rmSelectedNoBtn {
  background: $white;
  border: 0;
  cursor: pointer;
  font-size: 0.8rem;
  border-radius: 5px;
  font-weight: bolder;
  transition-duration: 0.1s;
  &:hover {
    color: $prim8;
    border: 2px solid $prim8;
    /* padding: 5px 8px 7px; */
  }
}

.brdBtnCon span {
  margin-left: 15px;
}

.brdCsBtn {
  /* width: 100%; */
  text-align: center;
  margin: 10vh auto 0;
  font-weight: bolder;
  font-size: 1.2rem;
}

.changeCon {
  display: flex;
  justify-content: space-between;
}

.changeNameCon {
  border-right: 2px solid #555;
  padding-right: 20px;
}

.changeNameCon,
.changePasswordCon {
  width: 40vw;
}

.tempCon {
  width: 40vw;
  @include Flex(column, space-between);
  height: 80vh;
  background: $white;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.2);
}

.subLabel {
  font-size: 0.8rem;
  color: #999;
}

.tempBtn {
  width: 100%;
}

.allTempCon {
  @include Flexdir(column);
  margin: 5vh 0;
  .headCon {
    margin-bottom: 20px;
  }
}

.populateTempCon {
  @include Flex(column, center);
  padding: 10px 15px;
  background: $white;
  margin-bottom: 10px;
  box-shadow: 3px 3px 6px 6px #eff0f2;
}

.tempConDet {
  @include FlexContent(space-between);
  align-items: center;
}

.tempConDet p {
  width: 22vw;
  margin-bottom: 0;
}

.tempHeadCon {
  font-weight: bolder;
  font-size: 1.3rem;
}
.tempConDet span {
  width: 15px;
}
.tempText {
  @include Flexdir(column);
  margin-bottom: 20px;
  color: $prim1;
}
.tempRightCon {
  /* height: 100%; */
  @include Flex(column, space-between);
}
.PSA {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 5px $prim3;
}

.Pending {
  @extend .PSA;
  background: #ff8400;
}

.Submitted {
  @extend .PSA;
  background: #97a4fc;
}

.Approved {
  @extend .PSA;
  background: #4effb5;
}

.staBtnCon {
  @include FlexContent(flex-end);
  margin-top: 25px;
}

.statusBtn {
  max-width: 6vw;
  padding: 3px 5px;
  border: 1px solid;
}
